@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: theme("colors.primary-background-color");
  color: theme("colors.primary-text-color");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
